{% extends 'base.html' %}
{% block content %}
<div style="max-width: 400px; margin: 2em auto; background: #fff; border-radius: 1em; padding: 2em; box-shadow: 0 2px 12px #eee;">
  <h3 style="text-align:center;">{{ is_create|yesno:"新增员工,编辑员工" }}</h3>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <div class="mb-3">
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.errors %}
        <div style="color: #f00;">{{ field.errors }}</div>
        {% endif %}
      </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary" style="width:100%;">保存</button>
  </form>
</div>
{% endblock %}
